//-avatar
mixin avatar
    .user-avatar__img
        img(src="assets/img/default_avatar.jpg")

mixin socialsBlock()
    ul.social-links
        - var socialLinks = { "soc_vk" : "https://vk.com/", "soc_fb" : "https://www.facebook.com/", "soc_twitter" : "https://twitter.com/?lang=en", "soc_google" : "https://plus.google.com/up/follow", "soc_email" : "mailto:mail@gmail.com"}
        each link_url, link_name in socialLinks
            li.social__item
                a(href=link_url, id= "" class="social__link" )
                    svg.svg-social
                        use(xlink:href="assets/img/sprite.svg#" + link_name)

mixin albumItem(title, category, comments, likes, thumb, user_avatar)
    .album-item
        .album-item-holder
            .album-photo
                a.open-img-popup.js-open-slider(href="#")
                    .album-mask
                        i(class="fa fa-search-plus")
                    .album-photo__thumb(style="background-image: url('assets/img/default_avatar.jpg')", alt="")
            .album-desc
                .album-desc__user
                    .photo-user-img
                        img(src="assets/img/" + user_avatar, alt="")
                        a.photo-user-img__mask(href="user.html")
                            svg.svg-more
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#more")
                .album-desc__info
                    .photo-desc-title= title
                    .photo-info
                        button.photo-info__item
                            i(class="fa fa-commenting")
                            span.comment-count= comments
                        button.photo-info__item
                            i(class="fa fa-heart")
                            span.like-count= likes
            .album-category
                a.category-name(href="album.html")
                    svg.svg-category
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#album")
                    span= category

mixin myAlbumItem(category, imgUrl, description, countPhotos)
    li.my-albums-item
        .my-albums-item-holder
            .my-albums-photo
                a.open-album.js-open-album(href="#")
                    .album-mask__my-album
                        .album-mask_my-album__opacity
                        .album-mask_my-album__non-opacity
                            span.album-mask_description.album-mask_description__album= description
                            span.album-mask_description.album-mask_description__countphotos= countPhotos
                    .album-photo__thumb.album-photo_myalbum__thumb(style="background-image: url(" + imgUrl + ")", alt="")
            .album-footer
                .album-footer-edit
                    a.my-albums-edit.js-edit-album(href="#")
                        svg.svg-edit
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/img/sprite.svg#edit")
                .album-category.album-category__my-albums
                    a.category-name(href="album.html")
                        span.album-name__my-albums= category